body {
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;

  }﻿

.advantages-title {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;

  }﻿

.advantage-title {
  font-size: 21px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;

  }﻿

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  }﻿

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-right: 73px;
  padding-left: 73px;
  min-height: 57px;
}

.header-logo {
  position: absolute;
  width: 220px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: right;
  font-size: 14px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.intro {
  width: 458px;
  height: 352px;
  padding-top: 59px;
  padding-bottom: 141px;
  margin: 0 auto;

}

.advantages {
  text-align: center;
}

.advantage-row {
}

.advantage {
  float: left;
  width: 33.333333%;
}

.advantage-item {
  float: left;
  width: 400px;
}

.advantage-image {
  width: 66.666666%;
}

.hotel-search {
  text-align: center;
}

.hotel-search-form {
  width: 576px;
  text-align: center;
}

.map {
}

.search-form {
  width: 576px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  width: 1054px;
  padding-right: 73px;
  padding-left: 73px;
}

.hashtag {
  width: 240px;
  float: left;
  padding-right: 163px;
}

.social-btns {
  width: 256px;
  float: left;
}

.developer {
  width: 241px;
  float: right;
}

.filters {
  padding-right: 73px;
  padding-left: 73px;
}

.filter-form {
}

.filter-block {
  float: left;
  padding-right: 79px;
}

.price-per-day {
  float: right;
}

.result-area {
  padding-right: 73px;
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.found {
  float: left;
}

.sorting-list {
  float: left;
  font-size: 12px;
  padding-right: 34px;
}

.sorting {
  float: right;
}

.hotel {
  padding-right: 73px;
  padding-left: 73px;
}

.hotel-image {
  width: 135px;
  float: left;
  padding-right: 28px;
}

.hotel-description {
  width: 264px;
  float: left;
}

.hotel-rating {
  width: 110px;
  float: right;
}
