body {
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  background-color: #f2f2f2;
  }﻿

.advantages-title {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;

  }﻿

.advantages p {
  line-height: 26px;
}

.advantage-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;

  }﻿

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  }﻿

.wrapper {
    width: 1200px;
    margin: 0 auto;

  }

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  width: 138px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;

}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  font-size: 14px;
  line-height: 26px;


}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

.main-navigation a {
  display: block;
  padding: 15px 0;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.main-navigation a:hover {
  color: #81b3d2;
}

a.active {
  color: #766357;

}

.main-navigation a:active {
  color: #766357;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.intro {
  position: relative;
  padding-top: 76px;
  padding-bottom: 82px;
  margin: 0 auto;
  background: #e4f1f9 url("../img/background-photo.jpg") no-repeat;
  text-align: center;
  z-index: 1;
}

.intro::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/background-decoration.png");
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
  background-color: #ffffff;
  padding-top: 60px;
}

.advantage-row {
  padding-top: 56px;
}

.advantage {
  float: left;
  width: 33.333333%;

}

.advantage-blue {
  background-color: #81b3d2;
  padding-top: 50px;
  padding-bottom: 59px;

}


.advantage-blue .advantage-number {
  color: #ffffff;
}

.advantage-blue .advantage-description {
  color: #ffffff;
}

.advantage-blue .advantage-title {
  color: #ffffff;
}

.advantage-item {
  float: left;
  width: 400px;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 60px;
}

.advantage-image {
  width: 66.666666%;
}

.hotel-search {
  text-align: center;
  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 145px;
}

.hotel-search p {
  line-height: 24px;
}

.hotel-search-form {
  display: block;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 568px;
  height: 90px;
  background-color: #766357;
  text-decoration: none;
  text-align: center;
}

.submit-form {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
}

.map {
  background: #e9e5dc url("../img/map.jpg") no-repeat;
}

.search-form {
  width: 576px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
}

.search-form input {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
}

.main-footer {
  padding: 38px 73px;
  background-color: #f9fbf6;
  opacity: 0.9;
}

.hashtag {
  float: left;
  padding-right: 163px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-btns {
  float: left;

  padding-left: 116px;

}

.social-btns a:hover {
  text-decoration: none;
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 8px;
  font-size: 0;
  vertical-align: top;
}

.social-btn-tw {
  background: #81b3d2 url("../img/twitter.png") no-repeat center;
}

.social-btn-fb {
  background: #81b3d2 url("../img/facebook.png") no-repeat center;
}

.social-btn-ytb {
  background: #81b3d2 url("../img/youtube.png") no-repeat center;
}

.developer {
  float: right;
  line-height: 26px;
  color: #000000;
}

.developer-link {

  text-decoration: none;
  font-size: 0;
  background: #ffffff url("../img/footer-logo.png") no-repeat;
}

.filters {
  background: #e4f1f9 url("../img/filter-background.jpg") no-repeat;
  color: #ffffff;
  padding-right: 73px;
  padding-left: 73px;
}

.filter-form {
}

.filter-block {
  float: left;
  padding-right: 79px;
}

.price-per-day {
  float: right;
}

.price-per-day input {
  color: #ffffff;
}

.price-per-day button {
  color: #ffffff;
}

.result-area {
  padding-right: 73px;
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.found {
  float: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-list {
  float: left;
  font-size: 12px;
  padding-right: 34px;
}

.sorting-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;

}

.sorting-list li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  padding-left: 40px;

}

.sorting-list a {
  color: #d1d1d1;

}

.sorting-list a.active {
  color: #8bb9d5;
  text-decoration: none;

}

.sorting-list a:hover {
  color: #81b3d2;

}

.sorting-list a:active {
  color: #000000;
  text-decoration: none;
}

.sorting {
  float: right;
}

.hotel {
  padding-right: 73px;
  padding-left: 73px;
}

.hotel-image {
  width: 135px;
  float: left;
  padding-right: 28px;
}

.hotel-description {
  width: 264px;
  float: left;
}

.hotel-description > a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.hotel-description > a:hover {
  color: #81b3d2;
}

.hotel-description > a:active {
  color: #766357;
}

.info-and-booking a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.hotel-rating {
  width: 110px;
  float: right;
}

.rating {
  color: #666666;
}
